<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short-URL</title>
</head>
<body>
    <h1>URL Shortner</h1>
    
    <div>
        <form action="/url" method="post">
            <label for="url">Enter your original URL</label>
            <input type="text" name="url" placeholder="https://example.com" required>
            <button type="submit">Generate</button>
        </form>
    </div>

    <% if (locals.id) { %>
        <p>URL Generated at <a href="http://localhost:8001/url/<%= id %>"> http://localhost:8001/url/<%= id %> </a> </p>
       <% } %>

    <% if (locals.urls) { %>
     <table>
        <!-- <thead> -->
            <tr>

                <th>S.No</th>
                <th>ShortID</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </tr>
        <!-- </thead> -->
        <!-- <tbody> -->
            <% urls.forEach((url, index) => { %>
                <tr>

                    <td> <%= index+1  %> </td>
                    <td> <%= url.shortID  %> </td>
                    <td> <%= url.redirectURL  %> </td>
                    <td> <%= url.visitHistory.length  %> </td>
                </tr>
            <% }) %>
        <!-- </tbody> -->
     </table>
    <% } %>
</body>
</html>